<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
    <display-name>M5-ABPRO</display-name>
    <welcome-file-list>
        <welcome-file>inicioServlet</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>controlador.InicioServlet</display-name>
        <servlet-name>controlador.InicioServlet</servlet-name>
        <servlet-class>controlador.InicioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.InicioServlet</servlet-name>
        <url-pattern>/inicioServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>controlador.ContactoServlet</display-name>
        <servlet-name>controlador.ContactoServlet</servlet-name>
        <servlet-class>controlador.ContactoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.ContactoServlet</servlet-name>
        <url-pattern>/contactoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CrearContactoServlet</display-name>
        <servlet-name>CrearContactoServlet</servlet-name>
        <servlet-class>CrearContactoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearContactoServlet</servlet-name>
        <url-pattern>/crearContactoServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>controlador.CrearCapacitacionServlet</display-name>
        <servlet-name>controlador.CrearCapacitacionServlet</servlet-name>
        <servlet-class>controlador.CrearCapacitacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.CrearCapacitacionServlet</servlet-name>
        <url-pattern>/crearCapacitacionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>controlador.CrearUsuarioServlet</display-name>
        <servlet-name>controlador.CrearUsuarioServlet</servlet-name>
        <servlet-class>controlador.CrearUsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.CrearUsuarioServlet</servlet-name>
        <url-pattern>/crearUsuarioServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ListarCapacitaciones</display-name>
        <servlet-name>ListarCapacitaciones</servlet-name>
        <servlet-class>controlador.ListarCapacitaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListarCapacitaciones</servlet-name>
        <url-pattern>/listarCapac</url-pattern>
    </servlet-mapping>
        <servlet>
        <description></description>
        <display-name>controlador.LoginServlet</display-name>
        <servlet-name>controlador.LoginServlet</servlet-name>
        <servlet-class>controlador.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador.LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

</web-app>